<h1>Blog CD</h1>

<h3>Ultimas Postagens</h3>

<% @posts.each do |post| %>
<div class="jumbotron">
    <div class="card" >
      <%= image_tag(post.image_post, size: "300x200"  , class:"card-img-top col-sm-12") %>
      <div class="card-block">
        <h4 class="card-title"><%= post.title %></h4>
        <p class="card-text"><%= post.subtitle %></p>
        <%= link_to "ver postagem", post_detail_path(post), class:"btn btn-success" %>
      </div>
    </div>
  </div>
<%end%>

<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
