<div class="col-sm-offset-4">
  <h1><%= @post.title %></h1>
  <%= @post.subtitle %>
</div>

<div class="col-sm-offset-1">
  <%= image_tag(@post.image_post, size:"700x400") %>
<div>

<br>

<div>
  <%= @post.body_text%>
</div>

<label>Data da Publicação</label>
<%= @post.created_at.strftime("%d/%m/%Y") %>
<br>
<label>Autor</label>
<%= @post.user.try(:name) %>
